02-Beispiel_A-Federn-Werte-eintragen/_Werte-erstellen.ipynb
02-Beispiel_A-Federn-Werte-eintragen/02-Messung1-2_Feder1.png
02-Beispiel_A-Federn-Werte-eintragen/03-Messung1-Funktion_Feder1.png
02-Beispiel_A-Federn-Werte-eintragen/02-Messung1-2_Feder1_Linienanpassung.png
02-Beispiel_A-Federn-Werte-eintragen/01-Messung1_Feder1.png
02-Beispiel_A-Federn-Werte-eintragen/01-Messung1_Feder1_tight.svg
02-Beispiel_A-Federn-Werte-eintragen/01-Messung1_Feder1_tight.png
02-Beispiel_A-Federn-Werte-eintragen/01-Messung1_Feder1_tight_200dpi.png
03-Beispiel_A-Federn-Werte-einlesen/.ipynb_checkpoints/03-Daten-einlesen-checkpoint.ipynb
04-Beispiel_B-Corona-JP/WHO_Corona_Deutschland.csv
05-Beispiel_C-Corona-RKI/Deutschland_RKI-Coronazahlen_Stand2021-01-26.png
05-Beispiel_C-Corona-RKI/Bundeslaender_RKI-Coronazahlen_Stand2021-01-25.png
05-Beispiel_C-Corona-RKI/Bundeslaender_Verlauf_RKI-Coronazahlen_Stand2021-01-26.png
05-Beispiel_C-Corona-RKI/Leipzig_mitExtrapolation_RKI-Coronazahlen_Stand2021-01-26.png
05-Beispiel_C-Corona-RKI/Leipzig_RKI-Coronazahlen_Stand2021-01-26.png
05-Beispiel_C-Corona-RKI/RKI_Corona_Deutschland.csv
05-Beispiel_C-Corona-RKI/RKI_COVID19.csv