02-Beispiel_A-Federn-Werte-eintragen/_Werte-erstellen.ipynb
02-Beispiel_A-Federn-Werte-eintragen/02-Messung1-2_Feder1.png
02-Beispiel_A-Federn-Werte-eintragen/03-Messung1-Funktion_Feder1.png
02-Beispiel_A-Federn-Werte-eintragen/02-Messung1-2_Feder1_Linienanpassung.png
02-Beispiel_A-Federn-Werte-eintragen/01-Messung1_Feder1.png
02-Beispiel_A-Federn-Werte-eintragen/01-Messung1_Feder1_tight.svg
02-Beispiel_A-Federn-Werte-eintragen/01-Messung1_Feder1_tight.png
02-Beispiel_A-Federn-Werte-eintragen/01-Messung1_Feder1_tight_200dpi.png
