02-Beispiel_A-Federn-Werte-eintragen/_Werte-erstellen.ipynb
02-Beispiel_A-Federn-Werte-eintragen/*.png
03-Beispiel_A-Federn-Werte-einlesen/.ipynb_checkpoints/03-Daten-einlesen-checkpoint.ipynb
05-Beispiel_C-Corona-RKI/*.png
05-Beispiel_C-Corona-RKI/RKI_Corona_Deutschland.csv
05-Beispiel_C-Corona-RKI/RKI_COVID19.csv
05-Beispiel_C-Corona-RKI/.ipynb_checkpoints/_Daten_einlesen-checkpoint.ipynb
05-Beispiel_C-Corona-RKI/.ipynb_checkpoints/Corona_RKI-checkpoint.ipynb
